@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300;700&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
    /* margin-top: 0.25rem; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-bottom-left-radius: 2rem;
    border: 1px solid red;
}

nav > h1 {
    margin: 0rem;
    padding: 2rem;
    margin-right: 5rem;
    font-size: 1.5rem;
}

nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 5rem;
    font-size: 1.125rem;
}


/* .image-container {
    width: 50%;
    height: 50%;
} */

.item-container {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 2rem;
    padding: 1.5rem;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.item-container > img {
    margin: 1rem;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

.item-container > button {
    margin-top: 0.5rem;
    align-self: stretch;
    padding: 0.5rem;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    font-weight: 700;
}

.item-container > p {
    margin-top: 0.175rem;
    align-self: flex-start;
}

.products {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.checkout-cart {
    position: fixed;
    border: 1px solid black;
    background-color: #eee;
    color: black;
    top: 0;
    right: 0;
    z-index: 100;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    padding: 2rem;
    opacity: 0;
    /* transform: translateX(100%); */
}

.checkout-cart > h3, h2 {
    align-self: center;
    margin: 0;
}

.checkout-cart > button {
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 2rem;
    border: none;
    font-weight: 700;
    background-color: black;
    color: white;
}

.checkout-cart > button:hover {
    background-color: aqua;
}

.cart-icon {
    position: relative;
    top: 0;
    background-color: #cccccc;
    border-radius: 50%;
    padding: 0.9rem;
    font-size: 1.124rem;
}

.item-count {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    border-radius: 50%;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    /* opacity: 0; */
}
    
ul > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.checkout-cart-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-cart-item-image {
    width: 90px;
    background-color: #eee;
}

.checkout-selection-tool {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.checkout-selection-tool > input {
    width: 50px;
    padding: 5px;
}

.checkout-selection-tool > button {
    padding: 5px 12px;
    border-radius: 2rem;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.cartIcon {
    border: none;
    background-color: white;
    cursor: pointer;
}